[submodule "source/gui/widgets/ColorWidgets"]
	path = source/gui/widgets/ColorWidgets
	url = https://github.com/mbasaglia/Qt-Color-Widgets.git
        ignore = dirty
[submodule "source/gui/qplot"]
	path = source/gui/qplot
	url = https://github.com/ess-dmsc/qplot.git
        ignore = dirty
