[submodule "src/external/h5"]
	path = src/external/h5
	url = https://github.com/ess-dmsc/h5cc.git
[submodule "src/external/json"]
	path = src/external/json
	url = https://github.com/nlohmann/json.git
