[submodule "src/gui/widgets/ColorWidgets"]
	path = src/gui/widgets/ColorWidgets
	url = https://github.com/mbasaglia/Qt-Color-Widgets.git
        ignore = dirty
[submodule "src/gui/qplot"]
	path = src/gui/qplot
	url = https://github.com/ess-dmsc/qplot.git
        ignore = dirty
[submodule "src/producers/ESSStream/streaming-data-types"]
	path = src/producers/ESSStream/streaming-data-types
	url = https://github.com/ess-dmsc/streaming-data-types.git
